<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brus5.lukaszkrawczak.KalkulatorMetabolizmu">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.brus5.lukaszkrawczak.KalkulatorMetabolizmu.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.brus5.lukaszkrawczak.KalkulatorMetabolizmu.bmrKobieta" />
        <activity android:name="com.brus5.lukaszkrawczak.KalkulatorMetabolizmu.bmrMezczyzna" />
        <activity android:name="com.brus5.lukaszkrawczak.KalkulatorMetabolizmu.tefKobieta" />
        <activity android:name="com.brus5.lukaszkrawczak.KalkulatorMetabolizmu.tefMezczyzna" />
        <activity android:name="com.brus5.lukaszkrawczak.KalkulatorMetabolizmu.neatMezczyzna" />
        <activity android:name="com.brus5.lukaszkrawczak.KalkulatorMetabolizmu.neatKobieta" />
        <activity android:name="com.brus5.lukaszkrawczak.KalkulatorMetabolizmu.gender" />
    </application>

</manifest>